{% include "base.html" %}
<h1>成交房源展示</h1>

<table border="1">
    <thead>

    <th>id</th>
    <th>fang_key</th>
    <th>fang_desc</th>
    <th>fang_url</th>
    <th>xiaoqu_name</th>
    <th>region</th>
    <th>subregion</th>
    <th>transaction_date</th>
    <th>price_pre</th>
    <th>price</th>
    <th>louceng</th>
    <th>chaoxiang</th>
    <th>zhuangxiu</th>
    <th>subway_info</th>
    <th>property_years</th>
    <th>created_date</th>
    </thead>
    <tbody>
    {% for line in data %}
        <tr>
            <td>{{line.id}}</td>
            <td>{{line.fang_key}}</td>
            <td>{{line.fang_desc}}</td>
            <td><a href={{line.fang_url}}>{{line.fang_url}}</a></td>
             <td>{{line.xiaoqu_name}}</td>
             <td>{{line.region}}</td>
             <td>{{line.subregion}}</td>
             <td>{{line.transaction_date}}</td>
             <td>{{line.price_pre}}</td>
             <td>{{line.price}}</td>
             <td>{{line.louceng}}</td>
             <td>{{line.chaoxiang}}</td>
             <td>{{line.zhuangxiu}}</td>
             <td>{{line.subway_info}}</td>
             <td>{{line.property_years}}</td>
             <td>{{line.created_date}}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>

<div id="main" style="height:200px"></div>


    <script type="text/javascript">

        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });

        // 使用
        require(
            [
                'echarts',
                'echarts/chart/line', // 使用柱状图就加载bar模块，按需加载
                'echarts/chart/bar'

            ],

           function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('main'));

                option = {

                    title : {
                        text: '小区房源成交价趋势图'

                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['成交均价']
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataView : {show: true, readOnly: false},
                            magicType : {show: true, type: ['line', 'bar']},
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            boundaryGap : false,
                            data : {{ report_name |safe}},
                            axisLabel : {
                                formatter: '成交时间{value} '
                            }
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                               axisLabel : {
                                formatter: '{value} 元/平'
                            }
                        }
                    ],
                    series : [
                        {
                            name:'成交均价',
                            type:'line',
                            data:{{ report_price_pre|safe }}
                        }

                    ]
                };

                // 为echarts对象加载数据
                myChart.setOption(option);

            }
        );







    </script>

</body>
</html>